<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/home_style.css">
    <link rel="stylesheet" href="../static/font_search/iconfont.css">
    <link rel="stylesheet" href="../static/font_star_and_place/iconfont.css">
</head>
<body>

    <header>
        <h2 class="logo">Puppy Green Book</h2>
        <nav class="navigation">
            <a href="/home">Home</a>
            <a href="/about">About</a>
            <a href="/map">Map</a>
            <a href="/user">Account</a>
            <a href="/login">Login</a>
        </nav>
       
        <form action="" class="search-bar-container">
            <input type="search" id="search-bar" placeholder="search here...">
            <label for="search-bar" class="iconfont icon-search"></label>
        </form>

    </header>
    
    <section class="home" id="home">
        <div class="content">
            <h3>pet-friendly places</h3>
            <p>discover new places with us</p>
            <a href="#" class="btn">discover more</a>
        </div>
        <div class="slider-show middle">
        
            <div class="slides">
                <input type="radio" name="r" id="rl" checked>
                <input type="radio" name="r" id="r2">
                <input type="radio" name="r" id="r3">
                <input type="radio" name="r" id="r4">
                <div class="slide s1">
                    <img src="../static/public/shop.jpg" alt="" >
                </div>
                
                <div class="slide">
                    <img src="../static/public/2.jpg" alt="">
                </div>
                
                <div class="slide">
                    <img src="../static/public/3.jpg" alt="">
                </div>
                
                <div class="slide">
                    <img src="../static/public/5.jpg" alt="">
                </div>
                <div class="slide-navigation">
                    <label for="r1" class="bar"></label>
                    <label for="r2" class="bar"></label>
                    <label for="r3" class="bar"></label>
                    <label for="r4" class="bar"></label>
                </div>
            </div>
           </div>

    </section>

    <section class="coffee" id="coffee">
        <h1 class="heading">
            <span>c</span>
            <span>o</span>
            <span>f</span>
            <span>f</span>
            <span>e</span>
            <span>e</span>
            <span class="space"></span>
            <span>s</span>
            <span>h</span>
            <span>o</span>
            <span>p</span>

        </h1>
        <div class="box-contianer">
            <div class="box">
                <img src="../static/public/coffee1.jpg" alt="">
                <div class="content">
                    <h3><span class="iconfont icon-dibiao ">easy join coffee</span></h3>
                    <p>road1,No.123</p>
                    <div class="stars">
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-star "></span>
                    </div>
                    <div class="price">$1.00 <span>$20.00</span></div>
                    <a href="/introduction/easy_join_coffee" class="btn">book now</a>
                </div>
               
            
           
            </div>
            <div class="box">
                <img src="../static/public/coffee2.jpg" alt="">
                <div class="content">
                    <h3><span class="iconfont icon-dibiao ">puppy coffee</span></h3>
                    <p>road3,No.12</p>
                    <div class="stars">
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-p-star "></span>
                        
                    </div>
                    <div class="price">$1.50 <span>$22.00</span></div>
                    <a href="/introduction/puppy_coffee" class="btn">book now</a>
                </div>
            </div>
            
            <div class="box">
                <img src="../static/public/coffee3.jpg" alt="">
                <div class="content">
                    <h3><span class="iconfont icon-dibiao ">freedom coffee</span></h3>
                    <p>road5,No.67</p>
                    <div class="stars">
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-p-star "></span>
                        
                    </div>
                    <div class="price">$1.50 <span>$22.00</span></div>
                    <a href="/introduction/freedom_coffee" class="btn">book now</a>
                </div>
           
            </div>
        </div>
    </section>


    <section class="shop" id="shop">
        <h1 class="heading">
            <span>p</span>
            <span>e</span>
            <span>t</span>
            <span class="space"></span>
            <span>s</span>
            <span>h</span>
            <span>o</span>
            <span>p</span>

        
        </h1>
        <div class="box-contianer">
            <div class="box">
                <img src="../static/public/shop1.jpg" alt="">
                <div class="content">
                    <h3><span class="iconfont icon-dibiao ">Pets Corner</span></h3>
                    <p>road1,No.123</p>
                    <div class="stars">
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-star "></span>
                    </div>
                    <div class="price">$1.00 <span>$20.00</span></div>
                    <a href="/introduction/Pets_Corner" class="btn">book now</a>
                </div>
               
            
           
            </div>
            <div class="box">
                <img src="../static/public/shop2.jpg" alt="">
                <div class="content">
                    <h3><span class="iconfont icon-dibiao ">Petco</span></h3>
                    <p>road3,No.12</p>
                    <div class="stars">
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-p-star "></span>
                        
                    </div>
                    <div class="price">$1.50 <span>$22.00</span></div>
                    <a href="/introduction/Petco" class="btn">book now</a>
                </div>
            </div>
            
            <div class="box">
                <img src="../static/public/shop3.jpg" alt="">
                <div class="content">
                    <h3><span class="iconfont icon-dibiao ">Pet Emporium</span></h3>
                    <p>road5,No.67</p>
                    <div class="stars">
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-p-star "></span>
                        
                    </div>
                    <div class="price">$1.50 <span>$22.00</span></div>
                    <a href="/introduction/Pet_Emporium" class="btn">book now</a>
                </div>
           
            </div>
        </div>

    </section>


    <section class="hotel" id="hotel">
        <h1 class="heading">
            <span>H</span>
            <span>o</span>
            <span>t</span>
            <span>e</span>
            <span>l</span>
           
            
        </h1>
        <div class="box-contianer">
            <div class="box">
                <img src="../static/public/hotel1.jpg" alt="">
                <div class="content">
                    <h3><span class="iconfont icon-dibiao ">Stay Mierica</span></h3>
                    <p>road1,No.123</p>
                    <div class="stars">
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-star "></span>
                    </div>
    
                    <div class="price">$1.00 <span>$20.00</span></div>
                    <a href="/introduction/stay-mierica" class="btn">book now</a>
                </div>
               
            
           
            </div>
            <div class="box">
                <img src="../static/public/hotel2.jpg" alt="">
                <div class="content">
                    <h3><span class="iconfont icon-dibiao ">The Grand Budapest Hotel</span></h3>
                    <p>road3,No.12</p>
                    <div class="stars">
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-p-star "></span>
                        
                    </div>
    
                    <div class="price">$1.50 <span>$22.00</span></div>
                    <a href="/introduction/The-Grand-Budapest-Hotel" class="btn">book now</a>
                </div>
            </div>
            
            <div class="box">
                <img src="../static/public/hotel3.jpg" alt="">
                <div class="content">
                    <h3><span class="iconfont icon-dibiao ">The Murray</span></h3>
                    <p>road5,No.67</p>
                    <div class="stars">
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-p-star "></span>
                        <span class="iconfont icon-p-star "></span>
                        
                    </div>
    
                    <div class="price">$1.50 <span>$22.00</span></div>
                    <a href="/introduction/The Murray" class="btn">book now</a>
                </div>
           
            </div>
        </div>

    </section>



</body>
</html>