<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>map</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://webapi.amap.com/maps?v=1.4.15&key=24c6eb12226b576760f065db77dc5d25"></script><!--这里用的key(即安全密钥)-->
</head>
<body>
    <div id="mapContainer"></div>
    <script>

var map = new AMap.Map('mapContainer', {
    zoom: 20, // 这是初始缩放级别
    center: [113.030371, 23.14842] // 初始中心点经纬度，方法：高德地图分享特定地点在网站上就能看到经纬度
});

var hotel = new AMap.Icon({
    size: new AMap.Size(40, 40), // icon的尺寸
    image: '../static/public/hotel_icon.png',
    imageSize: new AMap.Size(40, 40),
});

var restaurant = new AMap.Icon({
    size: new AMap.Size(40, 40), // icon的尺寸
    image: '../static/public/restaurant_icon.png',
    imageSize: new AMap.Size(40, 40)
});

var garden = new AMap.Icon({
    size: new AMap.Size(40, 40), // icon的尺寸
    image: '../static/public/garden_icon.png',
    imageSize: new AMap.Size(40, 40)
});

var hospital = new AMap.Icon({
    size: new AMap.Size(40, 40), // icon的尺寸
    image: '../static/public/hospital_icon.png',
    imageSize: new AMap.Size(40, 40)
});

// 创建一个 Marker 实例：
var garden1 = new AMap.Marker({
    position: new AMap.LngLat(113.0333, 23.146),   // 经纬度对象，也可以是经纬度构成的一维数组[116.39, 39.9]
    title: 'garden1',
    icon: garden,
    offset: new AMap.Pixel(-20, -20),
});

var garden2 = new AMap.Marker({
    position: new AMap.LngLat(112.29, 23.139),   // 经纬度对象，也可以是经纬度构成的一维数组[116.39, 39.9]
    title: 'garden2',
    icon: garden,
    offset: new AMap.Pixel(-20, -20),
});

var garden3 = new AMap.Marker({
    position: new AMap.LngLat(113.030344, 23.14843),
    title: 'garden3',
    icon: garden,
    offset: new AMap.Pixel(-10, -10),
});

var garden4 = new AMap.Marker({
    position: new AMap.LngLat(113.22, 23.16),
    title: 'garden4',
    icon: garden,
    offset: new AMap.Pixel(-20, -20),//需要将偏移量设置为图标尺寸的一半的负值
});

var hotel1 = new AMap.Marker({
    position: new AMap.LngLat(113.0332, 23.148),   //113.030371, 23.14842
    title: 'hotel1',
    icon: hotel,
    offset: new AMap.Pixel(-10, -10),
});

var hotel2 = new AMap.Marker({
    position: new AMap.LngLat(113.230354, 23.14846),   //113.030371, 23.14842
    title: 'hotel2',
    icon: hotel,
    offset: new AMap.Pixel(-10, -10),
});

var hotel3 = new AMap.Marker({
    position: new AMap.LngLat(113.032999, 23.145),   //113.030371, 23.14842
    title: 'hotel3',
    icon: hotel,
    offset: new AMap.Pixel(-10, -10),
});

var hotel4 = new AMap.Marker({
    position: new AMap.LngLat(112.930354, 23.24841),   //113.030371, 23.14842
    title: 'hotel4',
    icon: hotel,
    offset: new AMap.Pixel(-10, -10),
});

var hospital1 = new AMap.Marker({
    position: new AMap.LngLat(113.035366, 23.14845),
    title: 'hospital1',
    icon: hospital,
    offset: new AMap.Pixel(-10, -10),
});

var hospital2 = new AMap.Marker({
    position: new AMap.LngLat(113.026324, 23.14847),
    title: 'hospital2',
    icon: hospital,
    offset: new AMap.Pixel(-10, -10),
});

var hospital3 = new AMap.Marker({
    position: new AMap.LngLat(113.026324, 23.14847),
    title: 'hospital3',
    icon: hospital,
    offset: new AMap.Pixel(-10, -10),
});

var hospital4 = new AMap.Marker({
    position: new AMap.LngLat(113.126324, 23.14222),
    title: 'hospital4',
    icon: hospital,
    offset: new AMap.Pixel(-10, -10),
});

var restaurant1 = new AMap.Marker({
    position: new AMap.LngLat(114.033348, 23.14543),
    title: 'restaurant1',
    icon: restaurant,
    offset: new AMap.Pixel(-10, -10),
});

var restaurant2 = new AMap.Marker({
    position: new AMap.LngLat(113.040371, 23.15842),
    title: 'restaurant2',
    icon: restaurant,
    offset: new AMap.Pixel(-10, -10),
});

var restaurant3 = new AMap.Marker({
    position: new AMap.LngLat(113.040371, 23.13842),
    title: 'restaurant3',
    icon: restaurant,
    offset: new AMap.Pixel(-10, -10),
});

var restaurant4 = new AMap.Marker({
    position: new AMap.LngLat(113.020371, 23.14842),
    title: 'restaurant4',
    icon: restaurant,
    offset: new AMap.Pixel(-10, -10),
});


// 将创建的点标记添加到已有的地图实例：
var markerList = [garden1, garden2, garden3, garden4, hotel1, hotel2, hotel3, hotel4, hospital1, hospital2, hospital3, hospital4, restaurant1, restaurant2, restaurant3, restaurant4];
map.add(markerList);
/* map.plugin('AMap.Geolocation', function() {
    var geolocation = new AMap.Geolocation({
        enableHighAccuracy: true, // 是否使用高精度定位，默认:true
        timeout: 10000,          // 超过10秒后停止定位，默认：5s
        buttonPosition: 'RB',    // 定位按钮的停靠位置
        buttonOffset: new AMap.Pixel(10, 20), // 定位按钮距离对应角落的距离
        zoomToAccuracy: true     // 定位成功后是否自动调整地图视野到定位点
    });

    map.addControl(geolocation);
    geolocation.getCurrentPosition(function(status, result) {
        if (status == 'complete') {
            onComplete(result); // 定位成功的回调函数
        } else {
            onError(result); // 定位失败的回调函数
        }
    });
});

// 定位成功的回调函数
function onComplete(data) {
    // data是具体的定位信息
    var position = data.position;
    map.setCenter(position);
}

// 定位失败的回调函数
function onError(data) {
    // 定位失败时，data.message 会包含错误信息
    alert('定位失败: ' + data.message);
}
// 获取用户定位 */
    </script>
</body>
</html>